/* 
 body {
    background: linear-gradient(135deg, #495144, #d4e6a6, #d2f1ce, #2d5c30);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  
  .login-container {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 500px;
    width: 100%;
  }
  
  .login-container h2 {
    color: #ff6b6b;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    color: #3f69c5;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 80%;
    padding: 10px;
    border: 2px solid #4a66ee;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    background-color: rgba(166, 160, 198, 0.9);
    color: #0a0606;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #4d9bef;
    outline: none;
  }
  
  button[type="submit"] {
    background-color: #3d67f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #3a1996;
  }
   */

   .gradient-bg {
    background: linear-gradient(135deg, #495144, #d4e6a6, #d2f1ce, #2d5c30);
  }