.even_row {
    background-color: #bee07a; /* Set the background color for odd rows */
}
  
.odd_row {
    background-color: #cbaf83; /* Set the background color for even rows */
}

.heading {
    background-color: #0d5b1a; /* Set the background color for even rows */
    color : white;
}
  
  /* Background for Personal Information, Request leave  */
  .Instead_body_PInfo {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .Instead_body_PInfo::before {
    content: "";
    background-image: url('https://i.postimg.cc/JhWS9Nj2/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
