/* footer{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 15px;
    background-color: orange;
    color: black;
    padding: 3px;
    
    bottom: 0px;
    left: 0;
    width: 100%;
    font-weight: bold;
} */

/*Style for the footer */
/* footer {
    
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 15px;
    background-color: orange;
    color: black;
    padding: 3px;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    font-weight: bold;
}  */

footer {
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 15px;
    background-color: orange;
    color: black;
    padding: 3px;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    font-weight: bold;
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
    footer {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}

/* Media query for screens with a maximum width of 480px */
@media (max-width: 480px) {
    footer {
        font-size: 12px; /* Further adjust font size for even smaller screens */
    }
}




/* Add a class for the sticky behavior */
.sticky-footer {
    position: fixed;
    bottom: 0;
}


/* header{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 15px;
    background-color: orange;
    color: black;
    padding: 3px;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    font-weight: bold;
} */