.centered-container {
  background-image: url('https://images.unsplash.com/photo-1527176930608-09cb256ab504?auto=format&fit=crop&q=80&w=2074&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;

  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
  
  .employee-form {
      background-color: #838484d5; /* Background color for the employee boxes */
      text-color: Black ;
      text-align: left;
      font-weight: bold;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 10px; /* Adjust padding as needed */
      border-radius: 5px; /* Rounded corners for the boxes */
      margin: 10px 0; /* Spacing between employee boxes */
    
  }
  
  .select-box {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #007BFF;
    border-radius: 5px;
  }
  
  .select-box:hover {
    border-color: #0056b3;
  }
  
  .submit-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .result-list {
    list-style: none;
    padding: 0;
  }
  
  .result-item {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error-message {
    color: red;
  }
  
  .result-item {
    background-color: #838484d5; /* Background color for the employee boxes */
    text-color: Black ;
    text-align: left;
    font-weight: bold;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px; /* Adjust padding as needed */
    border-radius: 5px; /* Rounded corners for the boxes */
    margin: 10px 0; /* Spacing between employee boxes */
  }
  
  