.centered-container {
  background-image: url('https://images.unsplash.com/photo-1527176930608-09cb256ab504?auto=format&fit=crop&q=80&w=2074&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;

  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
  
  .employee-form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
  }
  
  .select-box {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .selected-department {
    margin: 20px 0;
  }
  
  .result-list {
    list-style: none;
    padding: 0;
  }
  
  .result-item {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .employee-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .dependant-details {
    font-size: 16px;
  }
  
  .error-message {
    color: red;
  }
  
  .employee-box {
    background-color: #838484d5; 
    text-color: Black ;
    text-align: left;
    font-weight: bold;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px; 
    border-radius: 5px; 
    margin: 10px 0; 
  }
  
  